Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_mynteye
Examples/RGB-D/rgbd_tum
Examples/Monocular/mono_euroc
Examples/Monocular/mono_tum
Examples/Monocular/mono_kitti
CameraTrajectory.txt
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/
*~
lib/
.DS_Store
